@import '../../../styles/variables.scss';

.weather-details__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
  gap: $info-gap;

  .main-info__container,
  .sub-info__container-mobile,
  .sub-info__container-desktop {
    width: 100%;
  }

  .sub-info__container-desktop,
  .sub-info__container-mobile {
    .temp-info__container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      flex: 1;

      @media screen and (max-width: $xs-width-breakpoint) {
        gap: 8px;
      }

      .temp-values__container {
        display: flex;
        gap: 20px;
      }
    }

    .wind-info__container {
      display: inline-block;
      margin: auto;

      .wind-direction__container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;

        svg {
          font-size: 1.5rem;
        }
      }
    }

    .rain-info__container {
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: center;


      .rain__display {
        flex: 0.5;
        display: flex;
        align-items: center;
        justify-content: center;

        .rain__value {
          font-size: 3rem;
        }

        .rain__mms {
          font-size: 3rem;
        }
      }
    }

    .sun-info__container {
      display: flex;
      flex-direction: column;
      flex: 1;

      .sun-card__title {
        display: flex;
        align-items: center;
        text-transform: uppercase;
      }

      .sun-sub-info__container {
        flex: 0 0 50%;

        .sun-info__value {
          display: flex;
          flex-direction: column;

          @media screen and (max-width: $xs-width-breakpoint) {
            display: inline-block;
            vertical-align: middle;
          }
        }
      }
    }

    .humidity-info__container,
    .pressure-info__container {
      display: inline-block;
      margin: auto;
    }
  }

  .sub-info__container-desktop {
    display: flex;
    flex-wrap: wrap;
    gap: $info-gap;

    &>div {
      //formula: calc(100% / number-of-items - (gap-size * number-of-gaps) / number-of-items))
      width: calc(100% / $l-card-items-per-row - ($info-gap * 2 / $l-card-items-per-row));
      aspect-ratio: 1/1;

      @media screen and (max-width: $s-width-breakpoint) {
        width: calc(100% / $m-card-items-per-row - ($info-gap * 1 / $m-card-items-per-row));
      }

      @media screen and (max-width: $xs-width-breakpoint) {
        width: calc(100% / $m-card-items-per-row - ($info-gap * 1 / $m-card-items-per-row));
      }
    }
  }

  .sub-info__container-mobile {
    display: flex;
    flex-wrap: wrap;
    border-radius: 8px;
    padding: 0.5rem;
    background-color: $secondary-background-color;

    &>div {
      flex: 0 0 50%;
      padding: 0.5rem;
    }

    /* used to target specific card container */
    &>div:nth-child(3) {
      flex: 0 0 100%;
    }

    &>div:nth-child(4) {
      flex: 0 0 100%;
      justify-content: space-between;
    }

    .sun-info__container {
      flex-direction: row;
    }
  }
}