@import '../../../styles/variables.scss';

.weather-details__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
  gap: $info-gap;

  .main-info__container, .sub-info__container {
    width: 100%;
  }

  .sub-info__container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: $info-gap;    

    & > div {
      //width: calc(100% / var(--number-of-items) - (var(--gap) * var(--number-of-gaps) / var(--number-of-items)));
      width: calc(100% / $info-items-per-row - ($info-gap * 1 / $info-items-per-row)); //works: to check
      aspect-ratio: 1/1; //to confirm
    }
  }
}