@import '../../../styles/variables.scss';

.mobile-view__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  
  .mobile-view__content {

    .sub-info__container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 30px;

      & > div {
        //background-color: darkblue;
      }

      .sun-info__container {
        flex: 1;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
    }
  }
}
