@import '../../styles/variables.scss';

.weather-card__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;

  @media screen and (max-width: $xs-width-breakpoint) {
    align-items: flex-start;
  }
}