@import './variables.scss';
@media (prefers-color-scheme: dark) {
  
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

button, button:focus {
  border: none;
  outline: none;
}

.main__content-container {
  width: $l-width-content;

  @media screen and (max-width: $l-width-breakpoint) {
    width: $m-width-content;
  }

  @media screen and (max-width: $m-width-breakpoint) {
    width: $s-width-content;
  }

  @media screen and (max-width: $s-width-breakpoint) {
    width: $xs-width-content;
  }
}

.card__container {
  padding: 0.5rem;
  border-radius: 8px;  
  background-color: $secondary-background-color;
}

.card__title {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}