@import './variables.scss';

.home__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //height: calc(100vh - (#{$header-height} + #{$footer-height}));
  height: calc(100vh - $header-height);
}