$header-height: 5rem;
$footer-height: 4rem;

/* Theme colors */
$background-color: #121212;
$secondary-background-color: #202124;
$color-3: #606368;
$color-4: #b7bbc0;
$accent-primary: #fff;

$text-primary-color: #fff;
$font-secondary-color: #ffffffb3;
$font-disabled-color: #ffffff80;

$divider-color: #ffffff1f;

/* Clamp font size */