@import '../../../../styles/variables.scss';

.weather__icons {
  color: $text-primary-color;
  font-size: 5rem;
}

.main__container {
  display: flex;
  flex-direction: column;

  /* .title__container {
    display: flex;
    align-items: center;
  } */

  .sub-info__container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;

    .temp__container {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      p {
        color: $text-secondary-color;
        font-weight: bold;
      }
    }
  }
}

