@import '../../../styles/variables.scss';

.empty-card__container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  width: 75%;

  .info-box__container {
    text-align: start;
    color: $text-secondary-color;
    display: flex;
    align-items: center;
    padding: 1rem;
    border: 1px solid $divider-color;
    background-color: $secondary-background-color;
    border-radius: 8px;
    position: relative;

    &:first-child {
      align-self: flex-start;
    }

    .info-box__text {
      flex: 1;
      //margin-left: 0.5rem;

      .info-box__heading {
        display: flex;
    
        svg {
          background: $secondary-background-color;
          border: 1px solid $divider-color;
          border-radius: 50%;
          position: absolute;
          left: 0;
          top: 0;
          transform: translate(-50%, -50%);
          align-items: center;
          display: flex;
          justify-content: center;
        }
      }

      .info-text__secondary {
        color: $text-disabled-color;
      }
    }
  }
}