@import '../../../styles/variables.scss';

.empty-card__container {
  text-align: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  @media screen and (max-width: $xs-width-breakpoint) {
    flex: none;
    width: 80%;
  }

  .error__container {
    height: 100px;
  }

  .hidden {
    visibility: hidden;
  }

  .visible {
    visibility: visible;
  }

  .info-box__container {
    text-align: start;
    color: $text-secondary-color;
    display: flex;
    align-items: center;
    padding: 1rem;
    border: 1px solid $divider-color;
    background-color: $secondary-background-color;
    border-radius: 8px;
    position: relative;
    
    .info-box__text {
      flex: 1;

      .info-box__heading {
        display: flex;
    
        svg {
          background: $secondary-background-color;
          border: 1px solid $divider-color;
          border-radius: 50%;
          position: absolute;
          left: 0;
          top: 0;
          transform: translate(-50%, -50%);
          align-items: center;
          display: flex;
          justify-content: center;
        }
      }

      .info-text__secondary {
        color: $text-disabled-color;
      }
    }
  }
}